/*************ComBox e Imputs***************/
.cbo-listar, .buscardor {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin: 0 1rem;
}

.buscardor > label,
.cbo-listar > label {
    font-size: 1rem;
    height: 2.15rem;;
    white-space: nowrap;
    display: block;
    padding: 0 1rem;
    margin: 0 3%;
    line-height: 2.15rem;
    border-radius: 0.5rem;
    background-color: #d5d1defe;
}

.cbo-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  height: 80px;
  width: 380px;
  margin: 10px;
}

.cbo-form > label {
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
    display: block;
    line-height: 40px;
    width: 200px;
    height: 40px;
    border-radius: 0.5rem;
}

.cbo-form > select {
    height: 40px;
    font-size: 1rem;
    background-color: white;
    border-radius: 0.4rem;
    border: 2px solid rgb(200, 200, 200);
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.cbo-listar > select,
.buscardor > input {
    height: 2.15rem;
    font-size: 1rem;
    background-color: white;
    border-radius: 0.4rem;
    border: 2px solid rgb(200, 200, 200);
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

/* Estilos individuales */
.cbo-listar > select {
    padding: 0.2rem 0.8rem;
    width: 150px;
}

.cbo-form > select {
    padding: 0.2rem 0.8rem;
    width: 343px;
}

.buscardor > input {
    width: 10rem;
    padding-left: 8px;
}

.btn-label {
    font-size: 1rem;
    white-space: nowrap;
    display: block;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    border-radius: 0.5rem;
    background-color: #d5d1defe;
    cursor: pointer;
    border: 1px solid #ccc;
    height: 2.15rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto enfocar o pasar*/
.cbo-listar > select:hover,
.cbo-listar > select:focus,
.cbo-form > select:hover,
.cbo-form > select:focus,
.buscardor > input:hover,
.buscardor > input:focus {
    border-color: rgb(255, 202, 0);
    box-shadow: 0 0 5px rgb(255, 202, 0);
}

.btn-label:hover,
.btn-label:focus {
    background-color: #e0dfee;
    box-shadow: 0 0 5px rgb(255, 202, 0);
}